{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--los tres metadatos de abajo son opcionales-->
    <meta name="author" content="SupReg Solutions">
    <meta name="description" content="Distribuidora de elementos de ferreterias al mejor precio en Jose marmol, Zona Sur de Buenos Aires">
    <meta name="keywords" content="DISTRIBUIDORA, FERRETERIA, HERRAMIENTAS, CONSTRUCCION">
    <title>Distribuidora Del Sur | Elementos de ferreteria y mas</title>
    <link rel="icon" type="image/x-icon" href="static/media/favicon.bmp">
    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    

  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar sticky-top navbar-expand-md bg-body-tertiary">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbar-toggler">
          <a class="navbar-brand" href="#hero">
              <img class="img-nav" src="/static/media/logo4-sinfondo.png" width="280" alt="Imagen de Pagina">
          </a>
          <ul class="navbar-nav d-flex justify-content-center align-items-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio   </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'productos' %}">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/#contacto">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'carrito' %}">Carrito<i class="fas fa-shopping-cart"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </nav>

<!-- BANNER -->

<section class="banner">
  <h1>Bienvenido a nuestro mayorista</h1>
  <p>Amplia selección de herramientas y accesorios para ferreterias, comercios y profesionales</p>
  <p><a href="mailto:Fdistribuidoradelsur@gmail.com" target="_blank" rel="noopener noreferrer">Contactanos por Email</a></p>
</section>

{% block content %}
{% endblock %}


   <!-- FOOTER  -->
<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">

  <img class="img-foot" src="/static/media/prueba.png" width="280" alt="Imagen de Pagina"> 
    <p class="footer-texto text-center">Contactanos en alguno de nuestros medios <br>El mejor precio asegurado</p>
    <div class="iconos-redes d-flex flex-wrap align-items-center justify-content-center">
      <a href="https://api.whatsapp.com/send?phone=5491144721190 " target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a>
      <a href="https://api.whatsapp.com/send?phone=5491168713660" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a>
      <a href="mailto:Fdistribuidoradelsur@gmail.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope"></i></a>
    </div>
    <div class="ubicacion">
      <a href="tel:1144721190" target="_blank" rel="noopener noreferrer"><p><i class="bi bi-telephone"></i> 1144721190</p></a>
      <a href="tel:1168713660" target="_blank" rel="noopener noreferrer"><p><i class="bi bi-telephone"></i> 1168713660</p></a>
      <a href="https://maps.app.goo.gl/SGBkfYT4tHSzCUpk7" target="_blank" rel="noopener noreferrer"><p><i class="bi bi-geo-alt"></i> Jose Marmol, Buenos Aires, Argentina</p></a>
    </div>
</footer>



<!-- COPYRIGHT -->
<div class="copy"> 
    <p>Copyright © Distribuidora Del Sur. Todos los derechos reservados</p>
    <p>Desarrollo <a href="">SupReg Solutions</a> (2023) ©</p>
</div>
 
<!--este es el boostrap de javascript y swiper-->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

{% block scripts %}
{% endblock %}  

</body>
</html>
