{% extends 'base.html' %}

{% block content %}

<div class="titulo_carrito">
    <h1>Tu carrito de compras <i class="fas fa-shopping-cart"></i></h1>
</div>

    
    {% if request.session.carrito.items %}
    <table class="table tabla-carrito">
        <thead>
            <tr class="encabezado-carrito">
                <th>Codigo</th>
                <th>Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in request.session.carrito.items %}
            <tr>
                <td>{{ value.codigo }}</td>
                <td>{{ value.nombre }}</td>
                <td>{{ value.precio }}</td>
                <td>{{ value.cantidad }}
                    <form method="post" action="{% url 'restar_producto' value.producto_id %}">
                        {% csrf_token %}
                        <button type="submit">Restar</button>
                    </form>
                </td>
                {% if value.tipo_moneda == 'DOLARIZADO' %}
                    <td>USD {{ value.subtotal }}</td>
                {% else %}
                    <td>${{ value.subtotal }}</td>
                {% endif %}
                <td>
                    <form method="post" action="{% url 'eliminar_del_carrito' value.producto_id %}">
                        {% csrf_token %}
                        <button class="boton-eliminar" type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total usd:</td>
                <td>USD {{ total_carrito_usd }}</td>
            </tr>
            <tr>
                <td colspan="3">Total pesos:</td>
                <td>$ {{ total_carrito_pesos }}</td>
            </tr>
        </tfoot>
    </table>
    {% else %}
    <p>El carrito está vacío.</p>
    {% endif %}
    <div class="row text-center botones-carrito">
        <div class="col-6"> <a href="{% url 'vaciar_carrito' %}" class="btn btn-danger btn-carrito">Vaciar Carrito <i class="fas fa-trash-alt"></i></a></div>
        <div class="col-6"> <a href="{% url 'enviar_carrito_por_whatsapp' %}" class="btn btn-primary btn-carrito" target="_blank">Enviar por WhatsApp <i class="fab fa-whatsapp"></i></a></div>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        // Función para cambiar el contenido del botón en función del ancho de la ventana
function cambiarContenidoBotonesCarrito() {
  var botones = document.getElementsByClassName("boton-eliminar");
  for (var i = 0; i < botones.length; i++) {
    if (window.innerWidth <= 470) {
      botones[i].innerHTML = '<i class="fas fa-trash-alt"></i>';
    } else {
      botones[i].textContent = "Eliminar";
    }
  }
}

// Verificar el ancho de la ventana al cargar la página y al cambiar su tamaño
window.onload = cambiarContenidoBotonesCarrito;
window.onresize = cambiarContenidoBotonesCarrito;



    </script>
{% endblock %}